body {
	font-size: small;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	width: 960px;
	margin: 50px auto 50px auto;
	background-color: #000000;
}

hr {
	line-style: dashed;
}

body {
  background-image: url('http://goo.gl/HBU1yd');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  color: #FFFFFF;
}

a {
  color: #CCCCCC;
}

a:hover { 
    color: #949494;
}